<font size=8>Projet 2 : Analysez les données de systèmes éducatifs</font>

<font size=5>Importation de l'ensemble des librairies nécessaires</font>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns

<font size="5">Importation des fichiers du projet</font>


    (A signaler qu'il n'y a pas de problème d'importation dès la première importation des fichiers)

In [2]:
EdStatsCountrySeries = pd.read_csv("EdStatsCountry-Series.csv")
EdStatsCountry = pd.read_csv("EdStatsCountry.csv")
EdStatsData = pd.read_csv("EdStatsData.csv")
EdStatsFootNote = pd.read_csv("EdStatsFootNote.csv")
EdStatsSeries = pd.read_csv("EdStatsSeries.csv")

<font size="5">Visualisation des premières lignes</font>

    La visualisation des premières lignes nous permet l'analyse suivante :
        - EdStatsCountrySeries : De manière générale le tableau semble représenter une collection de variables disponibles pour les pays et la provenance des données. Il y a une ligne par variable décrite. La ligne contient le code pays, le nom de la variable et la description du mode de recueil. 
        - EdStatsCountry : Le fichier contient un certain nombre d'information concernant les différents pays. Une ligne représente un pays avec plusieurs variables pour décrire les données du pays, leur ancienneté, le systeme de récupération des données, etc.
        - EdStatsData : Chaque ligne du fichier semble représenter le résultat d'un indicateur pour un pays et par année.
        - EdStatsFootNote : Chaque ligne représente un code de serie avec en indication son pays rattaché, une description et une année.
        - EdStatsSeries : Chaque ligne représente un nom de series avec les informations qui lui sont rattaché pour la décrire.

In [3]:
#EdStatsCountrySeries.head()
#EdStatsCountry.head()
#EdStatsData.head()
#EdStatsFootNote.head() 
EdStatsSeries.head()

,Series Code,Topic,Indicator Name,Short definition,Long definition,Unit of measure,Periodicity,Base Period,Other notes,Aggregation method,...,Notes from original source,General comments,Source,Statistical concept and methodology,Development relevance,Related source links,Other web links,Related indicators,License Type,Unnamed: 20
0,BAR.NOED.1519.FE.ZS,Attainment,Barro-Lee: Percentage of female population age...,Percentage of female population age 15-19 with...,Percentage of female population age 15-19 with...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Robert J. Barro and Jong-Wha Lee: http://www.b...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BAR.NOED.1519.ZS,Attainment,Barro-Lee: Percentage of population age 15-19 ...,Percentage of population age 15-19 with no edu...,Percentage of population age 15-19 with no edu...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Robert J. Barro and Jong-Wha Lee: http://www.b...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,BAR.NOED.15UP.FE.ZS,Attainment,Barro-Lee: Percentage of female population age...,Percentage of female population age 15+ with n...,Percentage of female population age 15+ with n...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Robert J. Barro and Jong-Wha Lee: http://www.b...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BAR.NOED.15UP.ZS,Attainment,Barro-Lee: Percentage of population age 15+ wi...,Percentage of population age 15+ with no educa...,Percentage of population age 15+ with no educa...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Robert J. Barro and Jong-Wha Lee: http://www.b...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,BAR.NOED.2024.FE.ZS,Attainment,Barro-Lee: Percentage of female population age...,Percentage of female population age 20-24 with...,Percentage of female population age 20-24 with...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Robert J. Barro and Jong-Wha Lee: http://www.b...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<font size="5">Visualisation des informations des fichiers</font>

    EdStatsCountrySeries contient 613 lignes et 4 colonnes.
    EdStatsCountry contient 241 lignes et 32 colonnes.
    EdStatsData contient 886930 lignes et 70 colonnes.
    EdStatsFootNote contient 643638 lignes et 5 colonnes.
    EdStatsSeries contient 3665  lignes et 21 colonnes.

In [4]:
#EdStatsCountrySeries.info()
#EdStatsCountry.info()
#EdStatsData.info()
#EdStatsFootNote.info()
#EdStatsSeries.info()

<font size="5">Recherche de doublon</font>
    
    EdStatsCountrySeries ne semble pas contenir de doublons
    EdStatsCountry ne semble pas contenir de doublons
    EdStatsData ne semble pas contenir de doublons
    EdStatsFootNote ne semble pas contenir de doublons
    EdStatsSeries ne semble pas contenir de doublons

In [5]:
#EdStatsCountrySeries.loc[EdStatsCountrySeries[['CountryCode', 'SeriesCode']].duplicated(keep=False),:]
#EdStatsCountry.loc[EdStatsCountry['Short Name'].duplicated(keep=False),:]
#EdStatsData.loc[EdStatsData[['Country Code','Indicator Name']].duplicated(keep=False),:]
#EdStatsFootNote.loc[EdStatsFootNote[['CountryCode', 'SeriesCode','Year']].duplicated(keep=False),:]
#EdStatsSeries.loc[EdStatsSeries['Series Code'].duplicated(keep=False),:]

<font size="5">Calcul du pourcentage de case null par colonnes</font>

EdStatsCountrySeries contient une colonne complétement vide. Le reste n'a pas de case vide. Il faut donc se débarrasser de la colonne :
        
        - Unnamed: 3

EdStatsCountry contient une colonne complétement vide. Il faut donc se débarrasser de la colonne :
        
        - Unnamed: 31   
    
    Le fichier contient aussi des colonnes avec de fort pourcentages de cases vides. Il faut réfléchier à s'en débarrasser si besoin

EdStatsData contient une colonne complétement vide. Il faut donc se débarrasser de la colonne :
        
        - Unnamed: 69   
   
    Le fichier contient aussi des colonnes avec de fort pourcentages de cases vides. Il faut réfléchier à s'en débarrasser si besoin

EdStatsFootNote contient une colonne complétement vide. Le reste n'a pas de case vide. Il faut donc se débarrasser de la colonne :
        
        - "Unnamed: 4"

EdStatsSeries contient six colonnes complétements vides. Il faut donc se débarrasser des colonnes :
        
        - Other web links 

        - Unnamed: 20

        - License Type

        - Notes from original source

        - Unit of measure 

        - Related indicators

    Le fichier contient aussi des colonnes avec de fort pourcentages de cases vides. Il faut réfléchier à s'en débarrasser si besoin

In [6]:
#EdStatsCountrySeries.isnull().mean().sort_values(ascending=False)
#EdStatsCountry.isnull().mean().sort_values(ascending=False)
#EdStatsData.isnull().mean().sort_values(ascending=False)
#EdStatsFootNote.isnull().mean().sort_values(ascending=False) 
#EdStatsSeries.isnull().mean().sort_values(ascending=False)

<font size=5>Suppression des colonnes vides</font>

In [7]:
del EdStatsCountrySeries['Unnamed: 3']
del EdStatsCountry['Unnamed: 31']
del EdStatsData['Unnamed: 69']
del EdStatsFootNote['Unnamed: 4']
del EdStatsSeries['Other web links']
del EdStatsSeries['Unnamed: 20']
del EdStatsSeries['License Type']
del EdStatsSeries['Notes from original source']
del EdStatsSeries['Unit of measure']
del EdStatsSeries['Related indicators']

<font size=5>Description des données quantitatives</font>

In [8]:
EdStatsData.describe()

,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,...,2055,2060,2065,2070,2075,2080,2085,2090,2095,2100
count,7.228800e+04,3.553700e+04,3.561900e+04,3.554500e+04,3.573000e+04,8.730600e+04,3.748300e+04,3.757400e+04,3.757600e+04,3.680900e+04,...,5.143600e+04,5.143600e+04,5.143600e+04,5.143600e+04,5.143600e+04,5.143600e+04,5.143600e+04,5.143600e+04,5.143600e+04,5.143600e+04
mean,1.974772e+09,4.253638e+09,4.592365e+09,5.105006e+09,5.401493e+09,2.314288e+09,5.731808e+09,6.124437e+09,6.671489e+09,7.436724e+09,...,7.145788e+02,7.224868e+02,7.271290e+02,7.283779e+02,7.266484e+02,7.228327e+02,7.176899e+02,7.113072e+02,7.034274e+02,6.940296e+02
std,1.211687e+11,1.804814e+11,1.914083e+11,2.059170e+11,2.112150e+11,1.375059e+11,2.215546e+11,2.325489e+11,2.473986e+11,2.660957e+11,...,2.136851e+04,2.215845e+04,2.287990e+04,2.352338e+04,2.408149e+04,2.455897e+04,2.496587e+04,2.530183e+04,2.556069e+04,2.574189e+04
min,-1.435564e+00,-1.594625e+00,-3.056522e+00,-4.032582e+00,-4.213563e+00,-3.658569e+00,-2.950945e+00,-3.174870e+00,-3.558749e+00,-2.973612e+00,...,-1.830000e+00,-1.630000e+00,-1.440000e+00,-1.260000e+00,-1.090000e+00,-9.200000e-01,-7.800000e-01,-6.500000e-01,-5.500000e-01,-4.500000e-01
25%,8.900000e-01,8.853210e+00,9.240920e+00,9.595200e+00,9.861595e+00,1.400000e+00,9.312615e+00,9.519913e+00,1.000000e+01,1.000000e+01,...,3.000000e-02,3.000000e-02,3.000000e-02,2.000000e-02,2.000000e-02,1.000000e-02,1.000000e-02,1.000000e-02,1.000000e-02,1.000000e-02
50%,6.317724e+00,6.316240e+01,6.655139e+01,6.969595e+01,7.087760e+01,9.677420e+00,7.101590e+01,7.133326e+01,7.290512e+01,7.510173e+01,...,2.300000e-01,2.300000e-01,2.300000e-01,2.300000e-01,2.300000e-01,2.300000e-01,2.300000e-01,2.300000e-01,2.300000e-01,2.200000e-01
75%,6.251250e+01,5.655200e+04,5.863650e+04,6.202900e+04,6.383675e+04,7.854163e+01,5.682800e+04,5.739175e+04,5.940425e+04,6.411500e+04,...,7.500000e+00,7.505000e+00,7.500000e+00,7.300000e+00,7.100000e+00,6.722500e+00,6.080000e+00,5.462500e+00,4.680000e+00,4.032500e+00
max,1.903929e+13,1.986457e+13,2.100916e+13,2.238367e+13,2.282991e+13,2.300634e+13,2.424128e+13,2.521383e+13,2.622101e+13,2.730873e+13,...,2.813670e+06,2.951569e+06,3.070879e+06,3.169711e+06,3.246239e+06,3.301586e+06,3.337871e+06,3.354746e+06,3.351887e+06,3.330484e+06

<font size=5>Description des données qualitatives</font>

- EdStatsCountrySeries  

        Pour la variable Series Code il y a 21 valeurs allant de 4 à 211 occurences.  Les deux valeurs qui sont présent 211 fois sont les suivants : 

                        SP.POP.TOTL           211
                        SP.POP.GROW           211

        L'indicateur qui suis n'est présent que 19 fois

        Pour la variable Description il y en a 97 valeurs allant de 1 à 154 occurences. Les quatres premières valeurs sont les suivants : 

                        Data sources : United Nations World Population Prospects                                              154
                        Data sources: United Nations World Population Prospects                                               137
                        Estimates are based on regression.                                                                     84
                        Data sources : Eurostat                                                                                54

        Pour la variable CountryCode il y a 211 possibilités allant de 2 à 18 occurences.

- EdStatsCountry 

        Trop de variable en l'état


- EdStatsData  

        Pour la variable Indicator Name il y a 3665 valeurs avec toutes 242 occurences. C'est la même chose pour la variable Indicator Code

        Pour la variable Country Name il y a 242 valeurs avec toutes 3665 occurences. Idem pour la variable Country Code.

        Question ? : vue qu'il y a une similarité entre Les deux grand type de variables pays et indicateurs, comme une réciprocité, en divisant l'un par l'autre on aurait 15,1 données par pays ? 


EdStatsFootNote 

        Pour la variable country code il y a 239 valeurs allant de 2 à 7320 occurences. 

        Pour la variable Description il y a 9102 valeurs allant de 1 à 191188 occurences. 

        Pour la variable SeriesCode il y a 1558 valeurs allant de 1 à 9226 occurences. 

        Pour la variable Year il y a une erreur d'écriture yr2012 au lieu de YR2012. Il faut changer ça. 



EdStatsSeries 
        
        Pour la variable Indicator Name il y a 3665 valeurs avec toutes 1 occurence.

In [9]:
#len(EdStatsCountrySeries["SeriesCode"].value_counts())
#EdStatsCountrySeries["SeriesCode"].value_counts()
#EdStatsCountry['2-alpha code'].value_counts()
#EdStatsData['Country Code'].value_counts()
#EdStatsFootNote['Year'].value_counts().sort_values()
#EdStatsSeries['Indicator Name'].value_counts()

<font size=5>Regroupement des noms sur le fichier country</font>

En réalisant le netttoyage de la table country nous obtenons 192 pays. Il en manque 1 puisque le monde est censé avoir 193 pays reconnu par l'ONU (197 pays en comptant certains petit comme le vatican).

In [10]:
#Ici je fais une impression de l'ensemble des pays 
EdStatsCountry['Table Name'].unique()

array(['Aruba', 'Afghanistan', 'Angola', 'Albania', 'Andorra',
       'Arab World', 'United Arab Emirates', 'Argentina', 'Armenia',
       'American Samoa', 'Antigua and Barbuda', 'Australia', 'Austria',
       'Azerbaijan', 'Burundi', 'Belgium', 'Benin', 'Burkina Faso',
       'Bangladesh', 'Bulgaria', 'Bahrain', 'Bahamas, The',
       'Bosnia and Herzegovina', 'Belarus', 'Belize', 'Bermuda',
       'Bolivia', 'Brazil', 'Barbados', 'Brunei Darussalam', 'Bhutan',
       'Botswana', 'Central African Republic', 'Canada', 'Switzerland',
       'Channel Islands', 'Chile', 'China', "Côte d'Ivoire", 'Cameroon',
       'Congo, Dem. Rep.', 'Congo, Rep.', 'Colombia', 'Comoros',
       'Cabo Verde', 'Costa Rica', 'Cuba', 'Curaçao', 'Cayman Islands',
       'Cyprus', 'Czech Republic', 'Germany', 'Djibouti', 'Dominica',
       'Denmark', 'Dominican Republic', 'Algeria', 'East Asia & Pacific',
       'East Asia & Pacific (all income levels)', 'Europe & Central Asia',
       'Europe & Central Asia (all income levels)', 'Ecuador',
       'Egypt, Arab Rep.', 'Euro area', 'Eritrea', 'Spain', 'Estonia',
       'Ethiopia', 'European Union', 'Finland', 'Fiji', 'France',
       'Faeroe Islands', 'Micronesia, Fed. Sts.', 'Gabon',
       'United Kingdom', 'Georgia', 'Ghana', 'Gibraltar', 'Guinea',
       'Gambia, The', 'Guinea-Bissau', 'Equatorial Guinea', 'Greece',
       'Grenada', 'Greenland', 'Guatemala', 'Guam', 'Guyana',
       'High income', 'Hong Kong SAR, China', 'Honduras',
       'Heavily indebted poor countries (HIPC)', 'Croatia', 'Haiti',
       'Hungary', 'Indonesia', 'Isle of Man', 'India', 'Ireland',
       'Iran, Islamic Rep.', 'Iraq', 'Iceland', 'Israel', 'Italy',
       'Jamaica', 'Jordan', 'Japan', 'Kazakhstan', 'Kenya',
       'Kyrgyz Republic', 'Cambodia', 'Kiribati', 'St. Kitts and Nevis',
       'Korea, Rep.', 'Kuwait', 'Latin America & Caribbean', 'Lao PDR',
       'Lebanon', 'Liberia', 'Libya', 'St. Lucia',
       'Latin America & Caribbean (all income levels)',
       'Least developed countries: UN classification', 'Low income',
       'Liechtenstein', 'Sri Lanka', 'Lower middle income',
       'Low & middle income', 'Lesotho', 'Lithuania', 'Luxembourg',
       'Latvia', 'Macao SAR, China', 'St. Martin (French part)',
       'Morocco', 'Monaco', 'Moldova', 'Madagascar', 'Maldives',
       'Middle East & North Africa (all income levels)', 'Mexico',
       'Marshall Islands', 'Middle income', 'Macedonia, FYR', 'Mali',
       'Malta', 'Myanmar', 'Middle East & North Africa', 'Montenegro',
       'Mongolia', 'Northern Mariana Islands', 'Mozambique', 'Mauritania',
       'Mauritius', 'Malawi', 'Malaysia', 'North America', 'Namibia',
       'New Caledonia', 'Niger', 'Nigeria', 'Nicaragua', 'Netherlands',
       'Norway', 'Nepal', 'Nauru', 'New Zealand', 'OECD members', 'Oman',
       'Pakistan', 'Panama', 'Peru', 'Philippines', 'Palau',
       'Papua New Guinea', 'Poland', 'Puerto Rico', 'Korea, Dem. Rep.',
       'Portugal', 'Paraguay', 'West Bank and Gaza', 'French Polynesia',
       'Qatar', 'Romania', 'Russian Federation', 'Rwanda', 'South Asia',
       'Saudi Arabia', 'Sudan', 'Senegal', 'Singapore', 'Solomon Islands',
       'Sierra Leone', 'El Salvador', 'San Marino', 'Somalia', 'Serbia',
       'Sub-Saharan Africa', 'South Sudan',
       'Sub-Saharan Africa (all income levels)', 'São Tomé and Principe',
       'Suriname', 'Slovak Republic', 'Slovenia', 'Sweden', 'Swaziland',
       'Sint Maarten (Dutch part)', 'Seychelles', 'Syrian Arab Republic',
       'Turks and Caicos Islands', 'Chad', 'Togo', 'Thailand',
       'Tajikistan', 'Turkmenistan', 'Timor-Leste', 'Tonga',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Tuvalu', 'Tanzania',
       'Uganda', 'Ukraine', 'Upper middle income', 'Uruguay',
       'United States', 'Uzbekistan', 'St. Vincent and the Grenadines',
       'Venezuela, RB', 'Virgin Islands (U.S.)', 'Vietnam', 'Vanuatu',
       'World', 'Samoa', 'Kosovo', 'Yemen, Rep.', 'South Africa',
       'Zambia', 'Zimbabwe'], dtype=object)

In [11]:
non_pays = [
    # Zones géographiques ou groupes de pays
    "Arab World",
    "East Asia & Pacific",
    "East Asia & Pacific (all income levels)",
    "Europe & Central Asia",
    "Europe & Central Asia (all income levels)",
    "Euro area",
    "European Union",
    'High income',
    "Latin America & Caribbean",
    "Latin America & Caribbean (all income levels)",
    "Least developed countries: UN classification",
    "Low income",
    "Lower middle income",
    "Low & middle income",
    "Middle income",
    "Middle East & North Africa",
    "Middle East & North Africa (all income levels)",
    "North America",
    "OECD members",
    "South Asia",
    "Sub-Saharan Africa",
    "Sub-Saharan Africa (all income levels)",
    "Upper middle income",
    "World",
    "Heavily indebted poor countries (HIPC)"
]


#Ici je nettoie le dataframe des pays qui ne sont pas valide selon ma liste non_pays
EdStatsCountry_clean = EdStatsCountry[~EdStatsCountry['Table Name'].isin(non_pays)]

Ici je fais un nettoyage des dataframes contenant des pays à l'aide des deux méthodes dictionnaires et merge. A chaque fois le résultat des deux est identique. Il faut noter que le nombre de pays dans le fichier EdStatsCountrySeries_clean2 est de 189 alors qu'il est de 192 dans le reste des dataframes.

In [12]:
codePays = EdStatsCountry_clean['Country Code'].unique()

EdStatsCountrySeries_clean = EdStatsCountrySeries[EdStatsCountrySeries['CountryCode'].isin(codePays)]

EdStatsCountrySeries_clean['CountryCode'].value_counts()

CountryCode
GEO    18
MDA    18
CYP    12
SRB    12
MUS    12
       ..
WSM     2
YEM     2
ZAF     2
ZMB     2
ZWE     2
Name: count, Length: 211, dtype: int64

In [13]:
EdStatsCountrySeries_clean2 = pd.merge(EdStatsCountry_clean, EdStatsCountrySeries, left_on='Country Code', right_on='CountryCode', how='left')

EdStatsCountrySeries_clean2['CountryCode'].value_counts()

CountryCode
GEO    18
MDA    18
CYP    12
SRB    12
MUS    12
       ..
WSM     2
YEM     2
ZAF     2
ZMB     2
ZWE     2
Name: count, Length: 211, dtype: int64

In [14]:
EdStatsData_clean = EdStatsData[EdStatsData['Country Code'].isin(codePays)]

EdStatsData_clean['Country Code'].value_counts()

Country Code
AFG    3665
ALB    3665
DZA    3665
ASM    3665
AND    3665
       ...
VIR    3665
PSE    3665
YEM    3665
ZMB    3665
ZWE    3665
Name: count, Length: 216, dtype: int64

In [15]:
EdStatsData_clean2 = pd.merge(EdStatsCountry_clean, EdStatsData, left_on='Country Code', right_on='Country Code', how='left')

EdStatsData_clean2['Country Code'].value_counts()

Country Code
ABW    3665
AFG    3665
AGO    3665
ALB    3665
AND    3665
       ...
XKX    3665
YEM    3665
ZAF    3665
ZMB    3665
ZWE    3665
Name: count, Length: 216, dtype: int64

In [16]:
EdStatsFootNote_clean = EdStatsFootNote[EdStatsFootNote['CountryCode'].isin(codePays)]

EdStatsFootNote_clean['CountryCode'].value_counts()

CountryCode
CYP    7183
AZE    5451
MDA    5095
HKG    4785
UKR    4719
       ...
IMN      32
CUW      23
XKX      12
MNP       4
FRO       2
Name: count, Length: 213, dtype: int64

In [17]:
EdStatsFootNote_clean2 = pd.merge(EdStatsCountry_clean, EdStatsFootNote, left_on='Country Code', right_on='CountryCode', how='left')

EdStatsFootNote_clean2['CountryCode'].value_counts()

CountryCode
CYP    7183
AZE    5451
MDA    5095
HKG    4785
UKR    4719
       ...
IMN      32
CUW      23
XKX      12
MNP       4
FRO       2
Name: count, Length: 213, dtype: int64

<font size=5>Selection des Topics que je souhaitent garder selon une approche métier.</font>

Je commence par extraire dans la colonne Topic de EdStatsSeries l'ensemble des items pour selectionner ceux qui me semblent pertinents. 

Avant le nettoyage des données topic, le fichier data contennait 3665 valeurs indicator, il y a maintenant 902 valeurs indicator.

In [18]:
EdStatsSeries['Topic'].unique()

array(['Attainment', 'Education Equality',
       'Infrastructure: Communications', 'Learning Outcomes',
       'Economic Policy & Debt: National accounts: US$ at current prices: Aggregate indicators',
       'Economic Policy & Debt: National accounts: US$ at constant 2010 prices: Aggregate indicators',
       'Economic Policy & Debt: Purchasing power parity',
       'Economic Policy & Debt: National accounts: Atlas GNI & GNI per capita',
       'Teachers', 'Education Management Information Systems (SABER)',
       'Early Child Development (SABER)',
       'Engaging the Private Sector (SABER)',
       'School Health and School Feeding (SABER)',
       'School Autonomy and Accountability (SABER)',
       'School Finance (SABER)', 'Student Assessment (SABER)',
       'Teachers (SABER)', 'Tertiary Education (SABER)',
       'Workforce Development (SABER)', 'Literacy', 'Background',
       'Primary', 'Secondary', 'Tertiary', 'Early Childhood Education',
       'Pre-Primary', 'Expenditures', 'Health: Risk factors',
       'Health: Mortality',
       'Social Protection & Labor: Labor force structure', 'Laber',
       'Social Protection & Labor: Unemployment',
       'Health: Population: Structure', 'Population',
       'Health: Population: Dynamics', 'EMIS',
       'Post-Secondary/Non-Tertiary'], dtype=object)

Pour ma selection de topic j'ai fait le choix suivant : 

'Secondary',
'Population',
'Tertiary',
'Expenditures',
'Engaging the Private Sector (SABER)',
'Literacy',
'Education Management Information Systems (SABER)',
'Post-Secondary/Non-Tertiary',
'School Finance (SABER)',
'Tertiary Education (SABER)',
'Health: Population: Structure',
'Social Protection & Labor: Unemployment',
'Infrastructure: Communications',
'Economic Policy & Debt: National accounts: US$ at constant 2010 prices: Aggregate indicators',
'Economic Policy & Debt: National accounts: Atlas GNI & GNI per capita',
'Health: Population: Dynamics'

Cette selection est faites pour prendre en compte des variables qui concernent le sujet de l'éducation au lycée et à l'université. Pour cela j'ai selectionné des sujets potentiellement sur le niveau scolaire, le volume de population, les volumes financiers et les capacités de communication pour l'aspect distanciel. J'ai aussi gardé le lien avec la place de l'enseignement privé.

In [19]:
Topic_approche_metier = ['Secondary',
'Population',
'Tertiary',
'Expenditures',
'Engaging the Private Sector (SABER)',
'Literacy',
'Education Management Information Systems (SABER)',
'Post-Secondary/Non-Tertiary',
'School Finance (SABER)',
'Tertiary Education (SABER)',
'Health: Population: Structure',
'Social Protection & Labor: Unemployment',
'Infrastructure: Communications',
'Economic Policy & Debt: National accounts: US$ at constant 2010 prices: Aggregate indicators',
'Economic Policy & Debt: National accounts: Atlas GNI & GNI per capita',
'Health: Population: Dynamics']

EdStatsSeries_Nettoyage_Metier = EdStatsSeries[EdStatsSeries['Topic'].isin(Topic_approche_metier)]
EdStatsSeries_Nettoyage_Metier['Indicator Name'].value_counts()

Indicator Name
Government expenditure in tertiary institutions as % of GDP (%)                                      1
Personal computers (per 100 people)                                                                  1
Internet users (per 100 people)                                                                      1
GDP (constant 2010 US$)                                                                              1
GDP per capita (constant 2010 US$)                                                                   1
                                                                                                    ..
SABER: (Education Management Information Systems) Policy Goal 1 Lever 5: Budget                      1
SABER: (Education Management Information Systems) Policy Goal 1 Lever 4: Infrastructural capacity    1
SABER: (Education Management Information Systems) Policy Goal 1 Lever 3: Human Resources             1
SABER: (Education Management Information Systems) Policy Goal 1 Lever 2: Organizational Structure    1
SABER: (Education Management Information Systems) Policy Goal 1 Lever 1: Legal Framework             1
Name: count, Length: 902, dtype: int64

Ici je fais un nettoyage de l'ensemble des dataframe en utilisant la liste des indicators names de EdStatsSeries_Nettoyage_Metier, le dataframe qui a été nettoyé grace au topic. 

Il reste 509  lignes pour le fichier EdStatsCountrySeries_Indicateurs_selectionne qui en comptait 613  sous sa forme EdStatsCountrySeries_clean

Il reste 186840 lignes pour le fichier EdStatsData_Indicateurs_selectionne qui en comptait 791640 sous sa forme EdStatsData_clean

Il reste 243369 lignes pour le fichier EdStatsFootNote_Indicateurs_selectionne qui en comptait 518109 sous sa forme EdStatsFootNote_clean

In [20]:
Nom_indicateur_a_retenir = EdStatsSeries_Nettoyage_Metier['Series Code'].unique()
Nom_indicateur_a_retenir

EdStatsCountrySeries_Indicateurs_selectionne = EdStatsCountrySeries_clean[EdStatsCountrySeries_clean['SeriesCode'].isin(Nom_indicateur_a_retenir)]
EdStatsCountrySeries_Indicateurs_selectionne
EdStatsCountrySeries_clean

,CountryCode,SeriesCode,DESCRIPTION
0,ABW,SP.POP.TOTL,Data sources : United Nations World Population...
1,ABW,SP.POP.GROW,Data sources: United Nations World Population ...
2,AFG,SP.POP.GROW,Data sources: United Nations World Population ...
3,AFG,NY.GDP.PCAP.PP.CD,Estimates are based on regression.
4,AFG,SP.POP.TOTL,Data sources : United Nations World Population...
...,...,...,...
608,ZAF,SP.POP.GROW,"Data sources : Statistics South Africa, United..."
609,ZMB,SP.POP.GROW,Data sources: United Nations World Population ...
610,ZMB,SP.POP.TOTL,Data sources : United Nations World Population...
611,ZWE,SP.POP.TOTL,Data sources : United Nations World Population...
612,ZWE,SP.POP.GROW,Data sources: United Nations World Population ...

In [21]:
EdStatsData_Indicateurs_selectionne = EdStatsData_clean[EdStatsData_clean['Indicator Code'].isin(Nom_indicateur_a_retenir)]
EdStatsData_Indicateurs_selectionne
#EdStatsData_clean

,Country Name,Country Code,Indicator Name,Indicator Code,1970,1971,1972,1973,1974,1975,...,2055,2060,2065,2070,2075,2080,2085,2090,2095,2100
91625,Afghanistan,AFG,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2,NaN,NaN,NaN,NaN,7.05911,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91626,Afghanistan,AFG,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2.F,NaN,NaN,NaN,NaN,2.53138,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91627,Afghanistan,AFG,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2.GPI,NaN,NaN,NaN,NaN,0.22154,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91628,Afghanistan,AFG,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2.M,NaN,NaN,NaN,NaN,11.42652,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91633,Afghanistan,AFG,"Adjusted net enrolment rate, upper secondary, ...",UIS.NERA.3,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886922,Zimbabwe,ZWE,"Youth illiterate population, 15-24 years, % fe...",UIS.LPP.AG15T24,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
886926,Zimbabwe,ZWE,"Youth literacy rate, population 15-24 years, b...",SE.ADT.1524.LT.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
886927,Zimbabwe,ZWE,"Youth literacy rate, population 15-24 years, f...",SE.ADT.1524.LT.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
886928,Zimbabwe,ZWE,"Youth literacy rate, population 15-24 years, g...",SE.ADT.1524.LT.FM.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
886929,Zimbabwe,ZWE,"Youth literacy rate, population 15-24 years, m...",SE.ADT.1524.LT.MA.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
EdStatsFootNote_Indicateurs_selectionne = EdStatsFootNote_clean[EdStatsFootNote_clean['SeriesCode'].isin(Nom_indicateur_a_retenir)]
EdStatsFootNote_Indicateurs_selectionne
EdStatsFootNote_clean

,CountryCode,SeriesCode,Year,DESCRIPTION
0,ABW,SE.PRE.ENRL.FE,YR2001,Country estimation.
1,ABW,SE.TER.TCHR.FE,YR2005,Country estimation.
2,ABW,SE.PRE.TCHR.FE,YR2000,Country estimation.
3,ABW,SE.SEC.ENRL.GC,YR2004,Country estimation.
4,ABW,SE.PRE.TCHR,YR2006,Country estimation.
...,...,...,...,...
643633,ZWE,SH.DYN.MORT,YR2007,Uncertainty bound is 91.6 - 109.3
643634,ZWE,SH.DYN.MORT,YR2014,Uncertainty bound is 54.3 - 76
643635,ZWE,SH.DYN.MORT,YR2015,Uncertainty bound is 48.3 - 73.3
643636,ZWE,SH.DYN.MORT,YR2017,5-year average value between 0s and 5s
643637,ZWE,SP.POP.GROW,YR2017,5-year average value between 0s and 5s

<font size=5>Interpretation et selection des années du fichier data</font>


En l'état, le fichier data possede des colonnes années qui contiennent l'ensemble des données par indicateurs (qui sont en ligne)

In [23]:
EdStatsData_Indicateurs_selectionne.info()

<class 'pandas.core.frame.DataFrame'>
Index: 186840 entries, 91625 to 886929
Data columns (total 69 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Country Name    186840 non-null  object
 1   Country Code    186840 non-null  object
 2   Indicator Name  186840 non-null  object
 3   Indicator Code  186840 non-null  object
 4   1970            11474 non-null   float64
 5   1971            18650 non-null   float64
 6   1972            18403 non-null   float64
 7   1973            18388 non-null   float64
 8   1974            18446 non-null   float64
 9   1975            17972 non-null   float64
 10  1976            18871 non-null   float64
 11  1977            19081 non-null   float64
 12  1978            18927 non-null   float64
 13  1979            18756 non-null   float64
 14  1980            18752 non-null   float64
 15  1981            18987 non-null   float64
 16  1982            18325 non-null   float64
 17  1983            18895 non-null   float64
 18  1984            18831 non-null   float64
 19  1985            18886 non-null   float64
 20  1986            19213 non-null   float64
 21  1987            18760 non-null   float64
 22  1988            18683 non-null   float64
 23  1989            18317 non-null   float64
 24  1990            51416 non-null   float64
 25  1991            52083 non-null   float64
 26  1992            52046 non-null   float64
 27  1993            52555 non-null   float64
 28  1994            53210 non-null   float64
 29  1995            52631 non-null   float64
 30  1996            52423 non-null   float64
 31  1997            50786 non-null   float64
 32  1998            59104 non-null   float64
 33  1999            76762 non-null   float64
 34  2000            79083 non-null   float64
 35  2001            80319 non-null   float64
 36  2002            82052 non-null   float64
 37  2003            80496 non-null   float64
 38  2004            83637 non-null   float64
 39  2005            83180 non-null   float64
 40  2006            81726 non-null   float64
 41  2007            83039 non-null   float64
 42  2008            84683 non-null   float64
 43  2009            85401 non-null   float64
 44  2010            86037 non-null   float64
 45  2011            87462 non-null   float64
 46  2012            86117 non-null   float64
 47  2013            85671 non-null   float64
 48  2014            68010 non-null   float64
 49  2015            51360 non-null   float64
 50  2016            10113 non-null   float64
 51  2017            143 non-null     float64
 52  2020            0 non-null       float64
 53  2025            0 non-null       float64
 54  2030            0 non-null       float64
 55  2035            0 non-null       float64
 56  2040            0 non-null       float64
 57  2045            0 non-null       float64
 58  2050            0 non-null       float64
 59  2055            0 non-null       float64
 60  2060            0 non-null       float64
 61  2065            0 non-null       float64
 62  2070            0 non-null       float64
 63  2075            0 non-null       float64
 64  2080            0 non-null       float64
 65  2085            0 non-null       float64
 66  2090            0 non-null       float64
 67  2095            0 non-null       float64
 68  2100            0 non-null       float64
dtypes: float64(65), object(4)
memory usage: 99.8+ MB

En utilisant cette technique de boucle for, je supprime les colonnes annees que je n'utiliserai pas. J'ai choisi de garder celles qui sont le plus rempli. J'ai donc supprimer les colonnes pour la projection qui sont vides après mon traitement sur les indicateurs et qui doivent donc contenir des projetion sur des indicateurs qui ne sont pas métiers. 
J'ai aussi gardé des années proches de notre date d'analyse en gardant celles qui sont apparemment les plus remplis. J'ai donc garder à partir de 1999 jusqu'en 2017. 
En regardant le résultat, je m'aperçois que les années 2016 et 2017 sont à plus de 94 % des cellules vides. Je fais donc le choix de les supprimer également.  

A partir de là, il reste deux années qui posent questions avec plus de 63 % de cases vide en 2014 et plus de 72 % de cases vides pour 2015. Je décide de les garder en l'état.

In [24]:
Annee_a_supprimer_periode_1 = np.arange(1970, 1999, 1)
Annee_a_supprimer_periode_2 = np.arange(2016, 2101, 1)
Annee_a_supprimer = np.concatenate([Annee_a_supprimer_periode_1,Annee_a_supprimer_periode_2])

for annee in Annee_a_supprimer :
    if str(annee) in EdStatsData_Indicateurs_selectionne.columns:
        del EdStatsData_Indicateurs_selectionne[str(annee)]

Annee_a_supprimer

array([1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980,
       1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991,
       1992, 1993, 1994, 1995, 1996, 1997, 1998, 2016, 2017, 2018, 2019,
       2020, 2021, 2022, 2023, 2024, 2025, 2026, 2027, 2028, 2029, 2030,
       2031, 2032, 2033, 2034, 2035, 2036, 2037, 2038, 2039, 2040, 2041,
       2042, 2043, 2044, 2045, 2046, 2047, 2048, 2049, 2050, 2051, 2052,
       2053, 2054, 2055, 2056, 2057, 2058, 2059, 2060, 2061, 2062, 2063,
       2064, 2065, 2066, 2067, 2068, 2069, 2070, 2071, 2072, 2073, 2074,
       2075, 2076, 2077, 2078, 2079, 2080, 2081, 2082, 2083, 2084, 2085,
       2086, 2087, 2088, 2089, 2090, 2091, 2092, 2093, 2094, 2095, 2096,
       2097, 2098, 2099, 2100])

In [25]:
EdStatsData_Indicateurs_selectionne.info()
EdStatsData_Indicateurs_selectionne.isnull().mean()
EdStatsData_Indicateurs_selectionne

<class 'pandas.core.frame.DataFrame'>
Index: 186840 entries, 91625 to 886929
Data columns (total 21 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Country Name    186840 non-null  object
 1   Country Code    186840 non-null  object
 2   Indicator Name  186840 non-null  object
 3   Indicator Code  186840 non-null  object
 4   1999            76762 non-null   float64
 5   2000            79083 non-null   float64
 6   2001            80319 non-null   float64
 7   2002            82052 non-null   float64
 8   2003            80496 non-null   float64
 9   2004            83637 non-null   float64
 10  2005            83180 non-null   float64
 11  2006            81726 non-null   float64
 12  2007            83039 non-null   float64
 13  2008            84683 non-null   float64
 14  2009            85401 non-null   float64
 15  2010            86037 non-null   float64
 16  2011            87462 non-null   float64
 17  2012            86117 non-null   float64
 18  2013            85671 non-null   float64
 19  2014            68010 non-null   float64
 20  2015            51360 non-null   float64
dtypes: float64(17), object(4)
memory usage: 31.4+ MB

,Country Name,Country Code,Indicator Name,Indicator Code,1999,2000,2001,2002,2003,2004,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
91625,Afghanistan,AFG,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,28.059870,NaN,NaN,NaN,NaN,NaN,47.436790,50.627232,NaN
91626,Afghanistan,AFG,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2.F,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,15.223100,NaN,NaN,NaN,NaN,NaN,34.073261,37.641541,NaN
91627,Afghanistan,AFG,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2.GPI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.379130,NaN,NaN,NaN,NaN,NaN,0.567060,0.598370,NaN
91628,Afghanistan,AFG,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2.M,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,40.152851,NaN,NaN,NaN,NaN,NaN,60.087059,62.906952,NaN
91633,Afghanistan,AFG,"Adjusted net enrolment rate, upper secondary, ...",UIS.NERA.3,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31.332621,32.417030,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886922,Zimbabwe,ZWE,"Youth illiterate population, 15-24 years, % fe...",UIS.LPP.AG15T24,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,43.61436,NaN,NaN,35.887100,NaN
886926,Zimbabwe,ZWE,"Youth literacy rate, population 15-24 years, b...",SE.ADT.1524.LT.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,90.93070,NaN,NaN,90.428120,NaN
886927,Zimbabwe,ZWE,"Youth literacy rate, population 15-24 years, f...",SE.ADT.1524.LT.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,92.12456,NaN,NaN,93.188350,NaN
886928,Zimbabwe,ZWE,"Youth literacy rate, population 15-24 years, g...",SE.ADT.1524.LT.FM.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.02828,NaN,NaN,1.063890,NaN
886929,Zimbabwe,ZWE,"Youth literacy rate, population 15-24 years, m...",SE.ADT.1524.LT.MA.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,89.59058,NaN,NaN,87.591860,NaN

<font size=5>Methode GroupBy pour continuer la selection des variables et des années<font>

In [ ]:
#pd.set_option('display.max_rows', None)
pd.reset_option('display.max_rows')

Testtest = EdStatsData_Indicateurs_selectionne.groupby('Indicator Name')[['1999','2000','2001','2002','2003','2004','2005','2006','2007','2008','2009',
                                                                          '2010','2011','2012','2013','2014','2015']].count()

Testtest['Proportion_renseignée'] = Testtest.mean(axis=1)
Testtest.sort_values('Proportion_renseignée', ascending = False)

Ici je créer un dataframe pour selectionner uniquement les variables jugé nécessaire pour une première analyse.

In [31]:
Liste_items = [
"Population growth (annual %)",
"Internet users (per 100 people)",
"GDP per capita (constant 2005 US$)",
"Population, ages 15-64, total",
"Population of the official age for upper secondary education, both sexes (number)",
"Population of the official age for lower secondary education, both sexes (number)",
"Population of the official age for secondary education, both sexes (number)",
"Population of the official entrance age to secondary general education, both sexes (number)",
"Unemployment, total (% of total labor force)",
"Population, ages 12-18, total",
"Population, ages 15-24, total",
"Population of the official age for tertiary education, both sexes (number)",
"Enrolment in secondary general, both sexes (number)",
"Enrolment in tertiary education, all programmes, both sexes (number)",
"School life expectancy, tertiary, both sexes (years)",
"Government expenditure on education as % of GDP (%)"
]


DataframeFinal_V1 = EdStatsData_Indicateurs_selectionne[EdStatsData_Indicateurs_selectionne['Indicator Name'].isin(Liste_items)]
DataframeFinal_V1

,Country Name,Country Code,Indicator Name,Indicator Code,1999,2000,2001,2002,2003,2004,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
92822,Afghanistan,AFG,"Enrolment in secondary general, both sexes (nu...",SE.SEC.ENRL.GC,NaN,NaN,3.624150e+05,3.952230e+05,4.050020e+05,5.915410e+05,...,NaN,1.028382e+06,1.415293e+06,1.693479e+06,2.032719e+06,2.190878e+06,2.392465e+06,2.508900e+06,2.577715e+06,2.671830e+06
92829,Afghanistan,AFG,"Enrolment in tertiary education, all programme...",SE.TER.ENRL,NaN,NaN,NaN,NaN,2.621100e+04,2.764800e+04,...,NaN,NaN,NaN,9.518500e+04,NaN,9.750400e+04,NaN,NaN,2.628740e+05,NaN
92869,Afghanistan,AFG,GDP per capita (constant 2005 US$),NY.GDP.PCAP.KD,NaN,NaN,NaN,3.645706e+02,3.767587e+02,3.640954e+02,...,3.979859e+02,4.403682e+02,4.449501e+02,5.248235e+02,5.533003e+02,5.692334e+02,6.304274e+02,6.218181e+02,6.102419e+02,5.991352e+02
92885,Afghanistan,AFG,Government expenditure on education as % of GD...,SE.XPD.TOTL.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,3.461490e+00,3.439140e+00,2.527540e+00,3.481400e+00,3.780280e+00,3.317540e+00
93000,Afghanistan,AFG,Internet users (per 100 people),IT.NET.USER.P2,NaN,NaN,4.722568e-03,4.561395e-03,8.789125e-02,1.058090e-01,...,2.107124e+00,1.900000e+00,1.840000e+00,3.550000e+00,4.000000e+00,5.000000e+00,5.454545e+00,5.900000e+00,7.000000e+00,8.260000e+00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
885726,Zimbabwe,ZWE,"Population, ages 12-18, total",SP.POP.1218.TO.UN,2289975.0,2328762.0,2.360935e+06,2.386502e+06,2.405735e+06,2.419147e+06,...,2.430325e+06,2.428728e+06,2.422587e+06,2.412043e+06,2.397462e+06,2.379085e+06,2.357823e+06,2.335551e+06,2.314623e+06,2.296882e+06
885747,Zimbabwe,ZWE,"Population, ages 15-24, total",SP.POP.1524.TO.UN,2835009.0,2921453.0,3.003420e+06,3.080565e+06,3.151277e+06,3.213812e+06,...,3.309907e+06,3.342927e+06,3.366486e+06,3.381553e+06,3.389035e+06,3.389423e+06,3.383141e+06,3.371070e+06,3.354236e+06,3.333716e+06
885751,Zimbabwe,ZWE,"Population, ages 15-64, total",SP.POP.1564.TO,6475821.0,6613628.0,6.719788e+06,6.819300e+06,6.916640e+06,7.017171e+06,...,7.245873e+06,7.372961e+06,7.507911e+06,7.652639e+06,7.807808e+06,7.982992e+06,8.171080e+06,8.369351e+06,8.575500e+06,8.788963e+06
886204,Zimbabwe,ZWE,"School life expectancy, tertiary, both sexes (...",UIS.SLE.56,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2.952800e-01,2.911900e-01,2.934300e-01,2.935900e-01,NaN,NaN
886613,Zimbabwe,ZWE,"Unemployment, total (% of total labor force)",SL.UEM.TOTL.ZS,6.0,4.7,6.100000e+00,5.200000e+00,4.500000e+00,4.200000e+00,...,5.600000e+00,5.500000e+00,5.400000e+00,5.500000e+00,6.200000e+00,5.400000e+00,5.300000e+00,5.200000e+00,5.100000e+00,5.100000e+00

<font size=5>Création d'un dataframe utilisable pour les analyses<font>

In [33]:
DataframeFinal_V1.pivot_table(index='Country Name', columns='Indicator Name', values=['1999','2000','2001','2002','2003','2004','2005','2006','2007','2008','2009',
                                                                          '2010','2011','2012','2013','2014','2015'], aggfunc=np.mean)

C:\Users\thoma\AppData\Local\Temp\ipykernel_133000\3103507394.py:1: FutureWarning: The provided callable <function mean at 0x000001F9FB6FB9C0> is currently using DataFrameGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  DataframeFinal_V1.pivot_table(index='Country Name', columns='Indicator Name', values=['1999','2000','2001','2002','2003','2004','2005','2006','2007','2008','2009',

                                                                     1999  \
Indicator Name        Enrolment in secondary general, both sexes (number)
Country Name
Afghanistan                                                          NaN
Albania                                                         348369.0
Algeria                                                        2745950.0
American Samoa                                                       NaN
Andorra                                                              NaN
...                                                                  ...
Virgin Islands (U.S.)                                                NaN
West Bank and Gaza                                              442127.0
Yemen, Rep.                                                    1032427.0
Zambia                                                          237307.0
Zimbabwe                                                        834880.0

                                                                                            \
Indicator Name        Enrolment in tertiary education, all programmes, both sexes (number)
Country Name
Afghanistan                                                          NaN
Albania                                                          38502.0
Algeria                                                         456358.0
American Samoa                                                       NaN
Andorra                                                              NaN
...                                                                  ...
Virgin Islands (U.S.)                                                NaN
West Bank and Gaza                                               66282.0
Yemen, Rep.                                                     164166.0
Zambia                                                           23155.0
Zimbabwe                                                             NaN

                                                          \
Indicator Name        GDP per capita (constant 2005 US$)
Country Name
Afghanistan                                          NaN
Albania                                      2177.896633
Algeria                                      3457.137046
American Samoa                                       NaN
Andorra                                     40035.482449
...                                                  ...
Virgin Islands (U.S.)                                NaN
West Bank and Gaza                           2423.446200
Yemen, Rep.                                  1102.613078
Zambia                                        928.863582
Zimbabwe                                     1317.968843

                                                                           \
Indicator Name        Government expenditure on education as % of GDP (%)
Country Name
Afghanistan                                                          NaN
Albania                                                          3.37669
Algeria                                                              NaN
American Samoa                                                       NaN
Andorra                                                              NaN
...                                                                  ...
Virgin Islands (U.S.)                                                NaN
West Bank and Gaza                                                   NaN
Yemen, Rep.                                                          NaN
Zambia                                                           1.77495
Zimbabwe                                                             NaN

                                                       \
Indicator Name        Internet users (per 100 people)
Country Name
Afghanistan                                       NaN
Albania                                      0.081437
Algeria                                      0.199524
American Samoa                                    NaN
Andorra                                      7.635686
...                                               ...
Virgin Islands (U.S.)                       11.074606
West Bank and Gaza                                NaN
Yemen, Rep.                                  0.056629
Zambia                                       0.147053
Zimbabwe                                     0.161676

                                                    \
Indicator Name        Population growth (annual %)
Country Name
Afghanistan                               2.820724
Albania                                  -0.633352
Algeria                                   1.407131
American Samoa                            1.542575
Andorra                                   0.354831
...                                            ...
Virgin Islands (U.S.)                     0.056187
West Bank and Gaza                        2.555268
Yemen, Rep.                               2.812134
Zambia                                    2.867863
Zimbabwe                                  1.429746

                                                                                                         \
Indicator Name        Population of the official age for lower secondary education, both sexes (number)
Country Name
Afghanistan                                                    1353870.0
Albania                                                         267892.0
Algeria                                                        2335482.0
American Samoa                                                       NaN
Andorra                                                              NaN
...                                                                  ...
Virgin Islands (U.S.)                                                NaN
West Bank and Gaza                                              454111.0
Yemen, Rep.                                                    1334745.0
Zambia                                                          501678.0
Zimbabwe                                                        677180.0

                                                                                                   \
Indicator Name        Population of the official age for secondary education, both sexes (number)
Country Name
Afghanistan                                                    2557044.0
Albania                                                         505485.0
Algeria                                                        4572576.0
American Samoa                                                       NaN
Andorra                                                              NaN
...                                                                  ...
Virgin Islands (U.S.)                                                NaN
West Bank and Gaza                                              582488.0
Yemen, Rep.                                                    2493370.0
Zambia                                                         1198643.0
Zimbabwe                                                       1954222.0

                                                                                                  \
Indicator Name        Population of the official age for tertiary education, both sexes (number)
Country Name
Afghanistan                                                    1702356.0
Albania                                                         260060.0
Algeria                                                        3343222.0
American Samoa                                                       NaN
Andorra                                                              NaN
...                                                                  ...
Virgin Islands (U.S.)                                                NaN
West Bank and Gaza                                              286866.0
Yemen, Rep.                                                    1568596.0
Zambia                                                         1043798.0
Zimbabwe                                                       1338723.0

                                                                                                         \
Indicator Name        Population of the official age for upper secondary education, both sexes (number)
Country Name
Afghanistan                                                    1203174.0
Albania                                                         237593.0
Algeria                                                        2237094.0
American Samoa                                                       NaN
Andorra                                                              NaN
...                                                                  ...
Virgin Islands (U.S.)                                                NaN
West Bank and Gaza                                              128377.0
Yemen, Rep.                                                    1158625.0
Zambia                                                          696965.0
Zimbabwe                                                       1277042.0

                       ...  \
Indicator Name         ...
Country Name           ...
Afghanistan            ...
Albania                ...
Algeria                ...
American Samoa         ...
Andorra                ...
...                    ...
Virgin Islands (U.S.)  ...
West Bank and Gaza     ...
Yemen, Rep.            ...
Zambia                 ...
Zimbabwe               ...

                                                                                                   2015  \
Indicator Name        Population of the official age for lower secondary education, both sexes (number)
Country Name
Afghanistan                                                    2544975.0
Albania                                                         172470.0
Algeria                                                        2260605.0
American Samoa                                                       NaN
Andorra                                                              NaN
...                                                                  ...
Virgin Islands (U.S.)                                                NaN
West Bank and Gaza                                              657122.0
Yemen, Rep.                                                    1890287.0
Zambia                                                          768731.0
Zimbabwe                                                        705584.0

                                                                                                   \
Indicator Name        Population of the official age for secondary education, both sexes (number)
Country Name
Afghanistan                                                    4850112.0
Albania                                                         329011.0
Algeria                                                        4056674.0
American Samoa                                                       NaN
Andorra                                                              NaN
...                                                                  ...
Virgin Islands (U.S.)                                                NaN
West Bank and Gaza                                              869213.0
Yemen, Rep.                                                    3697648.0
Zambia                                                         1821221.0
Zimbabwe                                                       2047619.0

                                                                                                  \
Indicator Name        Population of the official age for tertiary education, both sexes (number)
Country Name
Afghanistan                                                    3199607.0
Albania                                                         276247.0
Algeria                                                        3492401.0
American Samoa                                                       NaN
Andorra                                                              NaN
...                                                                  ...
Virgin Islands (U.S.)                                                NaN
West Bank and Gaza                                              499101.0
Yemen, Rep.                                                          NaN
Zambia                                                               NaN
Zimbabwe                                                       1607620.0

                                                                                                         \
Indicator Name        Population of the official age for upper secondary education, both sexes (number)
Country Name
Afghanistan                                                    2305137.0
Albania                                                         156541.0
Algeria                                                        1796069.0
American Samoa                                                       NaN
Andorra                                                              NaN
...                                                                  ...
Virgin Islands (U.S.)                                                NaN
West Bank and Gaza                                              212091.0
Yemen, Rep.                                                    1807361.0
Zambia                                                         1052490.0
Zimbabwe                                                       1342035.0

                                                                                                                   \
Indicator Name        Population of the official entrance age to secondary general education, both sexes (number)
Country Name
Afghanistan                                                     872550.0
Albania                                                          38980.0
Algeria                                                         566585.0
American Samoa                                                       NaN
Andorra                                                              NaN
...                                                                  ...
Virgin Islands (U.S.)                                                NaN
West Bank and Gaza                                              112536.0
Yemen, Rep.                                                     640437.0
Zambia                                                          391447.0
Zimbabwe                                                        356119.0

                                                     \
Indicator Name        Population, ages 12-18, total
Country Name
Afghanistan                               5856500.0
Albania                                    356475.0
Algeria                                   4170691.0
American Samoa                                  NaN
Andorra                                         NaN
...                                             ...
Virgin Islands (U.S.)                           NaN
West Bank and Gaza                         860053.0
Yemen, Rep.                               4564619.0
Zambia                                    2433014.0
Zimbabwe                                  2296882.0

                                                     \
Indicator Name        Population, ages 15-24, total
Country Name
Afghanistan                               7252785.0
Albania                                    556269.0
Algeria                                   6467818.0
American Samoa                                  NaN
Andorra                                         NaN
...                                             ...
Virgin Islands (U.S.)                           NaN
West Bank and Gaza                        1053004.0
Yemen, Rep.                               5995687.0
Zambia                                    3068044.0
Zimbabwe                                  3333716.0

                                                     \
Indicator Name        Population, ages 15-64, total
Country Name
Afghanistan                              17871866.0
Albania                                   2000257.0
Algeria                                  26106760.0
American Samoa                                  NaN
Andorra                                         NaN
...                                             ...
Virgin Islands (U.S.)                       64411.0
West Bank and Gaza                        2515956.0
Yemen, Rep.                              15227024.0
Zambia                                    8391596.0
Zimbabwe                                  8788963.0

                                                                            \
Indicator Name        School life expectancy, tertiary, both sexes (years)
Country Name
Afghanistan                                                          NaN
Albania                                                              NaN
Algeria                                                              NaN
American Samoa                                                       NaN
Andorra                                                              NaN
...                                                                  ...
Virgin Islands (U.S.)                                                NaN
West Bank and Gaza                                                   NaN
Yemen, Rep.                                                          NaN
Zambia                                                               NaN
Zimbabwe                                                             NaN


Indicator Name        Unemployment, total (% of total labor force)
Country Name
Afghanistan                                               8.600000
Albania                                                  17.100000
Algeria                                                  11.200000
American Samoa                                                 NaN
Andorra                                                        NaN
...                                                            ...
Virgin Islands (U.S.)                                     8.100000
West Bank and Gaza                                       25.900000
Yemen, Rep.                                              16.700001
Zambia                                                    7.700000
Zimbabwe                                                  5.100000

[216 rows x 272 columns]